attrs==20.3.0
Automat==20.2.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
constantly==15.1.0
english-words==1.0.4
eventkit==0.8.8
filelock==3.0.12
hyperlink==21.0.0
IbPy2==0.8.0
idna==2.10
importlib-metadata==3.7.3
incremental==21.3.0
joblib==1.0.1
nest-asyncio==1.5.1
numpy==1.19.5
packaging==20.9
pycipher==0.5.2
pycparser==2.20
pyparsing==2.4.7
regex==2021.3.17
requests==2.25.1
sacremoses==0.0.43
six==1.15.0
tokenizers==0.10.1
tqdm==4.59.0
transformers==4.4.2
Twisted==21.2.0
twisted-iocpsupport==1.0.1
typing-extensions==3.7.4.3
urllib3==1.26.4
zipp==3.4.1
zope.interface==5.3.0
